@media (min-width: 601px) and (max-width: 728px) {
  header .container {
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .container {
    width: min(128rem, calc(100% - 4rem));
    flex-direction: column;
    row-gap: 1.4rem;
  }

  #info {
    width: fit-content;
  }

  #profile > div {
    text-align: center;
  }

  footer ul {
    flex-direction: column;
    row-gap: 0.6rem;
  }
}
